:root {
  --brand-purple: #5E90D8;
  --deep-purple: #4E76AE;
  --whitesmoke: #F5F5F5;
  --black: #000000;
  --red: #D31212;
  --green: #0EA809;
  --shadow: #18191B;
  --charcoal: #36454F;
  --dark-charcoal: #303A40;
}
