.container {
  max-width: 1140px;
  min-height: 200px;
  margin: auto;
  padding: 2rem 0;
  background-color: var(--dark-charcoal);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.titleContainer p {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.exchangeContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: flex-start;
}

.singleExchange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  padding: 10px 0;
}

@media screen and (max-width: 1024px) {
  .exchangeContainer {
    flex-wrap: wrap;
  }

  .singleExchange {
    width: 40%;
    padding-bottom: 1rem;
    margin: 0.5rem;
  }

  .singleExchange:first-child,
  .singleExchange:nth-child(2) {
    border-bottom: 1px solid var(--charcoal);
  }
}

@media screen and (max-width: 480px) {
  .singleExchange {
    width: 100%;
    margin: 1rem;
  }

  .singleExchange:not(:last-child) {
    border-bottom: 1px solid var(--charcoal);
  }
}